body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(0, 0, 255, 0.5);
  color: wheat;
}
.container {
  min-height: 80vh;
  text-align: center;
  width: 80%;
}
p {
  text-align: right;
  margin-bottom: 20vh;
}
button {
  align-items: center;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 0, 255, 0.199);
  color: antiquewhite;
  border: 0px;
  width: 400px;
  cursor: pointer;
}
button:hover {
  background: rgba(0, 0, 255, 0.5);
}
